<a href="https://colab.research.google.com/github/kkhrystynaa/Kosiv_python1/blob/main/python_practice_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Оператори порівняння та логічні оператори. Умови.

1. (5б) Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
zmina = 5
if (zmina / 2 == 0):
 print(zmina * 2)
else:
 print(zmina*3+1)

16

2. (9б) Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [ ]:
zmina = []
if zmina == []:
  zmina.append(5)
zmina

[5]

3. (13б) Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:
my_name = 'Khrystyna'
if 'a' in my_name or 'i' in my_name:
  print('A or I is in the name')
if 'o' in my_name and 'n' in my_name:
  print('O and N is in the name')
if 'o' not in my_name and 'n' in my_name :
  print('Only N is in the name')
else:
  print('There is no N in the name, but there might be O')

A or I is in the name
Only N is in the name

# II. Comprehensions.

4. (5б) Створіть список, використовуючи if (не if-else), range та comprehension.

In [20]:
comprehensions_list = [k + 9 for k in range(4) if k%2==0]
comprehensions_list

[9, 11]

5. (9б) Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [24]:
num_dict = {n: 'even' if n % 2 == 0 else 'odd' for n in range(5)}
num_dict

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

Використовавути - коли хочете створити словник (або список, множину) в один рядок. Не використовувати - Потрібні багато рядків коду

6. (9б) Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [6]:
my_list = ['hello', 'i', 'dont', 'care']
upper = [i[:3].upper() for i in my_list]
upper

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. (5б) Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [ ]:
n = 5
while n > 0:
 n -= 1
 print(n)

4
3
2
1
0

8. (5б) Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [ ]:
for num in range(1, 21, 2) :
  print(num)

1
3
5
7
9
11
13
15
17
19

9. (13б) Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [ ]:
my_list = [True, True, None, False]
result = {k:i for (k, i) in enumerate (my_list)}
result

{0: True, 1: True, 2: None, 3: False}

10. (9б) Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [ ]:
my_dict = {'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13}
my_dict = {k:i+5 for k, i in my_dict.items()}
my_dict

{'It': 8,
 'Fault stars': 15,
 'Bible': 22,
 'Psychological romance': 9,
 'Harry Potter': 18}

11. (5б) Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [ ]:
n = 5
for i in range(1, n + 1):
  print ("#" * i )

#
##
###
####
#####

12. (13б) Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [38]:
import random

secret_num = random.randint(1, 100)
kroku = 0
while True:
 guess = int(input("Вгадай число від 1 до 100 "))
 kroku += 1

 if guess < secret_num:
   print('Більше')
 elif guess > secret_num:
   print('Меньше')
 else:
   print(f"Вітаю! Ти вгадав число {secret_num} за {kroku} спроб.")
   break

Вгадай число від 1 до 100 50
Більше
Вгадай число від 1 до 100 80
Меньше
Вгадай число від 1 до 100 70
Більше
Вгадай число від 1 до 100 78
Меньше
Вгадай число від 1 до 100 76
Меньше
Вгадай число від 1 до 100 75
Меньше
Вгадай число від 1 до 100 73
Більше
Вгадай число від 1 до 100 74
Вітаю! Ти вгадав число 74 за 8 спроб.

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.